/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #f7a01d; /* Amarelo */
    --secondary-color: #e6525c; /* Vermelho */
    --third-color: #6c4edb; /* Roxo */
    --font-color-light: #f5f5f5; /* Quase branco */
    --btn-color: #e6525c; /* Vermelho do botão */
    --header-bg: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente para o cabeçalho */
}

/* Reset básico e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--font-color-light);
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute; /* Mude de 'relative' para 'absolute' */
    top: 0;
    left: 0;
    width: 100%; /* Defina a largura para 100% */
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 120px;
    margin-right: 10px;
}

.logo-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}

.header-actions {
    display: flex;
    align-items: center;
}

.register-btn {
    background-color: var(--btn-color);
    color: var(--font-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #d8454f;
}

.user-icon {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh; /* Garante que a seção ocupe 100% da altura da viewport */
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    background-image: url('./assets/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1; /* z-index menor que o do header para que ele fique atrás */
}
.main-content2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}
 
.headline {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.content-text {
    text-shadow: black 2px 2px 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 15vh;
}
.highlight {
    color: var(--primary-color);
}

.description, .intro {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.intro {
    font-size: 1rem;
    margin:  auto;
}

/* SCROLL INDICATOR */
.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    opacity: 0.8;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Responsividade básica para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .header-actions {
        margin-top: 10px;
        justify-content: center;
    }

    .headline {
        font-size: 2rem;
    }

    .description, .intro {
        font-size: 1rem;
    }

    .content-text {
        margin-bottom: 15vh;
    }
}