{% extends "base.html" %}

{% block title %}GDCB - Histórico de Doações{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/cadastro_campanha.css') }}">
{% endblock %}

{% block content %}
<body>

    <div class="modal_container">
        <div class="header">
            <h2>Cadastro campanha</h2>
            <button class="close_button" aria-label="Fechar">&times;</button>
        </div>

        <form action="/campanhas/cadastro_campanha" method="post">
            <div class="form-row">
                <div class="form_field column-1">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" placeholder="">
                </div>
            </div>

            <div class="form_row">
                <div class="form_field column-1">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" placeholder=""></textarea>
                </div>
            </div>

            <div class="form_row">
                <div class="form_field column_2">
                    <label for="meta_financeira">Meta financeira:</label>
                    <input type="text" id="meta_financeira" name="meta_financeira" placeholder="">
                </div>
                <div class="form_field column_2">
                    <label for="meta_itens">Meta itens:</label>
                    <input type="text" id="meta_itens" name="meta_itens" placeholder="">
                </div>
            </div>

            <div class="form_row dates">
                <div class="form_field column_2">
                    <label for="data_inicio">Data Início:</label>
                    <input type="date" id="data_inicio" name="data_inicio" required>
                </div>
                <div class="form_field column_2">
                    <label for="data_fim">Data Fim:</label>
                    <input type="date" id="data_fim" name="data_fim" required>
                </div>
            </div>

            <div class="form_row status_row">
                <div class="form_field column_1">
                    <label>Status:</label>
                    <div class="status_group">
                        <label class="status_option">
                            <input type="radio" name="status" value="ativa" checked>
                            Ativa
                        </label>
                        <label class="status_option">
                            <input type="radio" name="status" value="concluida">
                            Concluída
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="submit_button">Cadastrar</button>
        </form>
{% endblock %}