<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDCB</title>
<link rel="stylesheet" href="{{ url_for('static', path='index.css') }}">
</head>
<body>
    <div>
        <header>
           <div class="logo">
             <img src="../static/assets/logo.png" alt="Logo" class="logo-img" />
             <span class="logo-text">Gerenciador de Doações e Campanhas Beneficente</span>
         </div>
        <div class="header-actions">
            <a href="{{ url_for('cadastro') }}">
                <button class="register-btn">
                    Cadastre agora a sua ONG
                </button>
            </a>

            <a href="{{ url_for('login') }}">
                <button class="register-btn">
                    Login
                </button>
            </a>
        </div>

         </header>
         <section class="section1">
             <div class="content-text">
                 <h1 class="headline">TRANSFORME A GESTÃO DA SUA ONG EM UMA FORÇA IMBATÍVEL. APRESENTAMOS O SEU NOVO CENTRO DE <span class="highlight">EFICIÊNCIA.</span></h1>
                 <p class="description">Diga adeus às planilhas e à confusão. Com o GDCB, você tem controle total e seguro sobre doações, campanhas e prestação de contas, garantindo que o seu impacto seja máximo.</p>
                 <p class="intro">O GDCB foi desenvolvido para otimizar cada etapa do seu trabalho. Desde a captação de recursos até a emissão de relatórios de transparência, nossa plataforma garante a organização necessária para que a sua equipe possa dedicar mais tempo à missão social da ONG.</p>
                 <div class="scroll-indicator">
                     <i class="fas fa-chevron-down arrow-down"></i>
                     <i class="fas fa-chevron-down arrow-down"></i>
                 </div>
             </div>
         </section>
         <section class='section2'>
             <div class="content-text2">
                 
             </div>
              <!-- Nova seção de desenvolvedores -->
              <div class="dev-section">
                                <h2>Desenvolvedores</h2>
                <p class="dev-message">
                    Nós somos os desenvolvedores do GDCB, a plataforma criada sob medida para a sua missão. Nosso propósito foi transformar a complexidade da gestão de doações em uma tarefa simples, transparente e estratégica. Dedicamos nossa tecnologia para que você possa focar no que realmente importa: multiplicar o impacto social da sua organização, gerenciando recursos e campanhas com total segurança e eficiência.
                </p>
                                                <div class="dev-container"> 
                                     
                                    <div class="dev-card">
                                        <img src="/static/assets/Maria.jpeg" alt="Colega 1">
                                        <h3>Maria Clara Ribeiro</h3>
                                        <p>Desenvolvedor Beck-End</p>
                                        <a href="https://www.instagram.com/cllararibeiro/" target="_blank" >
                                            <i class="fa-brands fa-instagram"></i> Instagram
                                        </a>
                                    </div>
                                    <div class="dev-card">
                                        <img src="/static/assets/lourranny.jpeg" alt="Lourranny">
                                        <h3>Lourranny Santana</h3>
                                        <p>Desenvolvedora Front-End</p>
                                        <a href="https://www.instagram.com/lourranny_stn/" target="_blank">
                                            <i class="fa-brands fa-instagram"></i> Instagram
                                        </a>
                                    </div>
                                    <div class="dev-card">
                                        <img src="/static/assets/Vinicios.jpeg" alt="Colega 1">
                                        <h3> Caio Vinícios Holanda</h3>
                                        <p>Desenvolvedor Front-End</p>
                                        <a href="https://www.instagram.com/viniciosholanda__/" target="_blank">
                                            <i class="fa-brands fa-instagram"></i> Instagram
                                        </a>
                                    </div>
                                    <div class="dev-card">
                                        <img src="/static/assets/Gabi.jpeg" alt="Colega 1">
                                        <h3>Gabrielle Melo Mariz</h3>
                                        <p>Desenvolvedora Beck-End</p>
                                        <a href="https://www.instagram.com/gabriellemarizz_/" target="_blank">
                                            <i class="fa-brands fa-instagram"></i> Instagram
                                        </a>
                                    </div>
                                    <div class="dev-card">
                                        <img src="/static/assets/Samara.jpeg" alt="Colega 1">
                                        <h3>Samara Fernanda Medeiros</h3>
                                        <p>Desenvolvedora Front-End</p>
                                        <a href="https://www.instagram.com/fe.samaraa/" target="_blank">
                                            <i class="fa-brands fa-instagram"></i> Instagram
                                        </a>
                                    </div>
                
                                </div>             </div>
         </section>
     </div>
     <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Seleciona o elemento do cabeçalho e da segunda seção
            const header = document.querySelector('header');
            const section2 = document.querySelector('.section2');

            // Adiciona um "listener" para o evento de rolagem da janela
            window.addEventListener('scroll', () => {
                // Pega a posição vertical da janela (o quanto foi rolado)
                const scrollPosition = window.scrollY;

                // Pega a posição do topo da segunda seção em relação ao topo da página
                const section2Top = section2.offsetTop;

                // Verifica se a posição de rolagem é maior ou igual à posição da segunda seção
                if (scrollPosition >= section2Top) {
                    // Se sim, adiciona a classe 'scrolled' ao cabeçalho
                    header.classList.add('scrolled');
                } else {
                    // Se não, remove a classe 'scrolled'
                    header.classList.remove('scrolled');
                }
            });

        });
     </script>
</body>
</html>