<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
        </nav>
    </header>

    <div class="container-box">
        {% block content %}
        <!-- Conteúdo principal será inserido aqui -->
        {% endblock %}
    </div>
</body>
</html>