<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Doações</title>
    <link rel="stylesheet" href="../static/historico.css">
</head>
<body>

    <div class="historico-wrapper">
        <section class="historico-section">
            <h2>Histórico</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Nome Doador</th>
                            <th>Campanha</th>
                            <th>Data doação</th>
                            <th>Tipo doação</th>
                            <th>Valor</th>
                            <th>Quantidade de itens</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nome</td>
                            <td>Qual campanha</td>
                            <td>DD/MM/AAAA</td>
                            <td>itens/valor</td>
                            <td>$</td>
                            <td>Quantidade de itens</td>
                            <td>Descrição</td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td>Qual campanha</td>
                            <td>DD/MM/AAAA</td>
                            <td>itens/valor</td>
                            <td>$</td>
                            <td>Quantidade de itens</td>
                            <td>Descrição</td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td>Qual campanha</td>
                            <td>DD/MM/AAAA</td>
                            <td>itens/valor</td>
                            <td>$</td>
                            <td>Quantidade de itens</td>
                            <td>Descrição</td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td>Qual campanha</td>
                            <td>DD/MM/AAAA</td>
                            <td>itens/valor</td>
                            <td>$</td>
                            <td>Quantidade de itens</td>
                            <td>Descrição</td>
                        </tr>
                        <tr>
                            <td>Nome</td>
                            <td>Qual campanha</td>
                            <td>DD/MM/AAAA</td>
                            <td>itens/valor</td>
                            <td>$</td>
                            <td>Quantidade de itens</td>
                            <td>Descrição</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</body>
</html>