/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #f7a01d; /* Amarelo */
    --secondary-color: #e6525c; /* Vermelho */
    --third-color: #6c4edb; /* Roxo */
    --font-color-light: #f5f5f5; /* Quase branco */
    --btn-color: #e6525c; /* Vermelho do botão */
    --header-bg: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente para o cabeçalho */
}

/* Reset básico e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--font-color-light);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position:fixed; /* Mude de 'relative' para 'absolute' */
    width: 100%; /* Defina a largura para 100% */
    z-index: 10;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.288); /* Um fundo preto semi-transparente */
    transition: background-color 1s ease-in-out; /* Transição suave */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 120px;
    margin-right: 10px;
}

.logo-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}

.header-actions {
    display: flex;
    align-items: center;
    width: 350px;
    gap:10px;
}

.register-btn {
    background-color: var(--btn-color);
    color: var(--font-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #d8454f;
}

.user-icon {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

/* MAIN CONTENT (agora section) */
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh; /* Garante que a seção ocupe 100% da altura da viewport */
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    background-image: url('./assets/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1; /* z-index menor que o do header para que ele fique atrás */
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-grow: 1;
    color: black;
    background-color: var(--font-color-light);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}
  
.headline {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.content-text {
    text-shadow: black 2px 2px 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 15vh;
}
.highlight {
    color: var(--primary-color);
}

.description, .intro {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.intro {
    font-size: 1rem;
    margin:  auto;
}

/* SCROLL INDICATOR */
.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    opacity: 0.8;
}