* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f2f5;
}

.header-bar {
    height: 120px;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    color: #333;
}

.logo-img {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}

.logo-text {
    line-height: 1.2;
    font-size: 16px;
}

.login-container {
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.side-image {
    flex: 1;
    background-image: url('../static/assets/image.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-form-container {
    flex: 1;
    background-color: #1c52a8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}



.login-card {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.login-card h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.login-card h2::before,
.login-card h2::after {
    content: '';
    height: 32px; /* Altura igual à fonte para centralizar verticalmente */
    width: 5px; /* Largura da barra vertical */
    background-color: #e67e22;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login-card h2::before {
    left: -15px; /* Posição à esquerda do texto */
}

.login-card h2::after {
    right: -15px; /* Posição à direita do texto */
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #e67e22;
}